<!-- contacts.html -->
<div class="ti-section">
    <h2>Mutual Contacts</h2>
    <div class="row ti-card-wrapper">
        <div class="col-xl-3 col-lg-6 col-xs-12">
            <div class="ti-card -md">
                <a href="#" class="ti-card_img g-round">
                    <img src="img/avatar.png" width="80px" height="80px" alt=""/>
                </a>
                <div class="ti-card_title">Dan Parker</div>
                <div class="ti-card_descr">Institutional Invest</div>
                <a class="ti-card_link">VIEW</a>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-xs-12">
            <div class="ti-card -md">
                <a href="#" class="ti-card_img g-round">
                    <img src="img/BK-icon.png" width="80px" height="80px" alt=""/>
                </a>
                <div class="ti-card_title">Brian King</div>
                <div class="ti-card_descr">Institutional Investor in the United States</div>
                <a class="ti-card_link">VIEW</a>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-xs-12">
            <div class="ti-card -md">

                <a href="#" class="ti-card_img g-round">
                    <img src="img/TB-ava.png" width="80px" height="80px" alt=""/>
                </a>
                <div class="ti-card_title">Tim Barrett, CFA</div>
                <div class="ti-card_descr">Institutional Investor in the United States</div>
                <a class="ti-card_link">VIEW</a>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-xs-12">
            <div class="ti-card -md">
                <a href="#" class="ti-card_img g-round">
                    <img src="img/JF-ava.png" width="80px" height="80px" alt=""/>
                </a>
                <div class="ti-card_title">Joshua Fenton</div>
                <div class="ti-card_descr">Fund Manager at Alpha Strategies Investment Consalting</div>
                <a class="ti-card_link">VIEW</a>
            </div>
        </div>
    </div>
    <div class="ta-c">
        <button class="ti-button -md-size -normal">View More</button>
    </div>
</div>
<!-- /contacts.html -->
