<div class="ti-section">
    <h2>Expiriense</h2>

    <div class="row snippet">
        <div class="col-xs-3 ta-c">
            <img class="img-fluid" src="img/TTU-logo.png" alt=""/>
        </div>
        <div class="col-xs-9">
            <h5 class="snippet-date">2016 — Present, Austin, Texas Area</h5>
            <div class="snippet-title">Deputy Chief Investment Officer</div>
            <a class="snippet-subtitle" href="#">Texas Tech University</a>

            <div class="snippet-text">
                <p>Multi-asset class global investor with experience across all asset classes and geographies at an
                    endowment, a foundation, a premier asset management firm and a bulge bracket investment bank.
                    Significant leadership experience making critical decisions in complex, rapidly changing
                    environments as a Marine Corps officer. Versatile, proactive, high-achieving leader with extensive
                    international experience.</p>
            </div>
        </div>
    </div>
    <div class="row snippet">
        <div class="col-xs-3 ta-c">
            <img class="img-fluid" src="img/HCT-logo.png" alt=""/>
        </div>
        <div class="col-xs-9">

            <h5 class="snippet-date">2009 — 2016, New York City</h5>
            <div class="snippet-title">Investment Officer</div>
            <a class="snippet-subtitle" href="#">Leona M. and Harry B. Helmsley Charitable Trust</a>

            <div class="snippet-text">
                <p>Senior investment team member for a ~$5.5B US foundation with a globally diversified, multi-asset
                    class portfolio.</p>

                <p>Direct responsibility for allocating and monitoring $2.6B (funded) in 53 funds with 26 managers
                    ($3.4B committed); manager coverage is 81% alternative investments (HF, PE, VC) and 19% long-only
                    equity/fixed income.</p>

                <p>Led execution of private equity co-investments and secondary transactions as well as anchoring a new
                    hedge fund.</p>
            </div>
        </div>
    </div>
</div>