<div class="ti-section info-section">
    <div class="row">
        <div class="col-xs-8">

            <h1>Daniel Parker Copy</h1>
            <div class="info-descr_wrapper">
                <div class="info-descr -post">Deputy Chief Investment</div>
                <div class="info-descr">
                    <a class="info-descr -university" href="#">Texas Tech Universit</a>
                    <span class="info-descr -money">| AUM $1.1B</span>
                </div>
            </div>
            <p>Lubbock, Texas, USA</p>
            <div class="tag-wrapper">
                <div class="tag -bright">LP</div>
                <div class="tag">PREMIUM</div>
                <div class="tag">VERIFIED</div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="info-logo">
                <img class="info-logo_img" src="img/CFA-stamp.png" width="60" height="65" alt=""/>
                <img class="info-logo_img" src="img/distinguished -stamp -v1-13.png" width="60" height="60" alt=""/>
            </div>
        </div>
        <div class="bookmark">Bookmark</div>
    </div>

</div>