<div class="ti-section -with-column">
    <div class="row">
        <div class="col-lg-8 col-md-12 ti-section_column">
            <h2>Interests</h2>
            <div class="tab-wrapper">
                <div class="ti-tab">Relative Value</div>
                <div class="ti-tab">Education</div>
                <div class="ti-tab">Emerging Markets</div>
                <div class="ti-tab">Multi-Asset</div>
                <div class="ti-tab">Small Cap</div>
                <div class="ti-tab">Macro</div>
                <div class="ti-tab">Market Neutral Arbitrage</div>
                <div class="ti-tab">Fixed Income</div>
                <div class="ti-tab">Emerging Managers</div>
                <div class="ti-tab">Asset Allocation</div>
                <div class="ti-tab">Asset Allocation</div>
                <div class="ti-tab">Multi-Strategy</div>
                <div class="ti-tab">Government Bonds</div>
                <div class="ti-tab">Currency</div>
                <div class="ti-tab">Real Estate</div>
                <div class="ti-tab">Technology</div>
                <div class="ti-tab">Derivatives</div>
                <div class="ti-tab">Hedge Funds</div>
                <div class="ti-tab">Real Assets</div>
                <div class="ti-tab">Endowment Management</div>
                <div class="ti-tab">Secondaries</div>
                <div class="ti-tab">Volatility</div>
                <div class="ti-tab">Global Macro</div>
                <div class="ti-tab">Global Equity</div>
                <div class="ti-tab">Debt</div>
                <div class="ti-tab">Commercial Real Estate</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 ti-section_column">
            <h2>Geographies</h2>
            <div class="tab-wrapper -indent">
                <div class="ti-tab">North America</div>
                <div class="ti-tab">Latin America</div>
            </div>
            <div class="earth"></div>
        </div>
    </div>
</div>
